#banner {
  height: 80px;
  padding: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;
  #title {
    display: flex;
    align-items: center;
    font-family: Ubuntu;
    font-weight: bold;
    padding: 2px;
    background: rgb(133, 84, 21);
    border-radius: 8px;
    margin: 0;
    font-size: 32px;
    img {
      margin-left: .5em;
      height: 72px;
      border: 1px solid black;
      border-radius: 50%;
    }
    h1 {
      margin: 10px;
      padding-left: 10px;
    }
  }
  h3 {
    font-family: Ubuntu-Monospace;
    color: white;
    background: black;
    border-radius: 8px;
    padding: 0 24px;
    font-size: 24p;
  }
}