footer #social-media-footer ul{
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

footer #social-media-footer ul li {
  font-size: 48px;
  padding: 16px;
  transition: .4s;
}

footer #social-media-footer a .fa-github,
footer #social-media-footer a .fa-twitter,
footer #social-media-footer a .fa-linkedin {
    color: black;
    transition: .4s;
}

footer #social-media-footer ul li:hover a .fa-github{
  color: lightgrey;
}

footer #social-media-footer ul li:hover a .fa-twitter{
  color: rgb(10, 161, 255);
}

footer #social-media-footer ul li:hover a .fa-linkedin{
  color: rgb(41, 61, 151);
}