@import "./colors";
@import "./banner";

@import "./footer";

main {
  width: 95%;
}

.section-heading {
  font-family: 'Ubuntu Mono', monospace;
}

.now {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;


}

.card {
  width: 45%
}
.card .card-image img {
    width: 100%;
}