@import "./colors";
@import "./header";

@import "./footer";

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.section-heading {
  font-family: 'Ubuntu Mono', monospace;
}

.now {
  display: flex;
  justify-content: center;


}

.card {
  width: 45%
}
.card .card-image img {
    width: 100%;
}